*{
    background-color: #FFFCF2;
    box-sizing: border-box;
    font-family: 'DM Serif Display';
  }

  body {
    display: flex;
    flex-direction: row;
    margin: 0;
  }

  nav {
    background-color:#332E2E;
    height: 100vw;
    width: 15%;
    border-right-style: solid;
    border-right-width: .2vw;
    border-right-color: #000000;
  }

  .content {
    display: flex;
    flex-direction: column;
  }

  .team-tab {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .team-logo {
    margin-top: 2vw;
    height: 10vw;
    width: 10vw;
    border-radius: 10vw;
  }

  .nav-tab {
    border-top-style: solid;
    border-top-width: .2vw;
    border-top-color:#000000;
  }

  .nav-tab, .tab-header, .tab-line, .reset-button, .team-tab, .team-name {
    background-color:#332E2E;
    color :#FFFCF2;
  }

  .tab-header, .tab-line {
    margin-left: 1vw;
  }

  header {
    display: flex;
    align-items: center;
    border-bottom-style: solid;
    border-bottom-width: 1vw;
    border-bottom-color: #000000;
    margin-bottom: 0;
  }

  .icon-container {
    height: 6vw;
    width: 6vw;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    border-style: solid;
    border-width: .2vw;
    border-color: #000000;
  }

  .hamburger, .tickets, .lotteries, .options {
    height: 3vw;
    width: 3vw;
  }

  .icon-container, .title-buttons, .info-tabs:hover {
    cursor: pointer;
  }

  .searchbar {
    height: 6vw;
    width: 60vw;
    font-size: 2vw;
  }

  .title-section {
    background-color: #601010;
    margin-top: 0;
    border-top-style: solid;
    border-top-width: 1vw;
    border-top-color: #FFFCF2;
    border-bottom-style: solid;
    border-bottom-width: 1vw;
    border-bottom-color: #FFFCF2;
  }

  .top-title-block {
    display: flex;
    margin-top: 0vw;
    margin-left: 3.5vw;
    margin-right: 3.5vw;
    justify-content: space-between;
    background-color: #601010;
  }

  .top-left-title-block {
    display: flex;
    flex-direction: column;
    background-color: #601010;
  }

  .team-title {
    -webkit-text-stroke: .2vw black;
    color: #FFFCF2;
    font-family: 'Shrikhand';
    font-size: 4vw;
    margin-bottom: 0;
    background-color: #601010;
  }

  .title-subhead {
    display: flex;
    align-items: center;
    margin-top: 0;
    height: 3vw;
    background-color: #601010;
  }

  .subhead-location, .subhead-country {
    -webkit-text-stroke: .12vw black;
    color: #FFFCF2;
    font-family: 'Shrikhand';
    font-size: 1.5vw;
    background-color: #601010;
  }

  .subhead-separator {
    -webkit-text-stroke: .12vw black;
    color: #FFFCF2;
    font-family: 'Shrikhand';
    font-size: 1.7vw;
    margin-left: 1vw;
    margin-right: 1vw;
    background-color: #601010;
  }

  .top-right-title-block {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #601010;
  }

  .title-buttons {
    -webkit-text-stroke: .08vw black;
    color: #FFFCF2;
    font-family: 'Shrikhand';
    background-color: #601010;
  }

  .bottom-title-block {
    display: flex;
    justify-content: space-evenly;
    align-items: flex-end;
    background-color: #601010;
  }

  .info-tabs {
    -webkit-text-stroke: .09vw #FFFCF2;
    color: #000000;
    font-size: 1.5vw;
    background-color: #601010;
    margin-bottom: 0;
    border: none;
  }

  #summary {
    -webkit-text-stroke: 0vw #FFFCF2;
    color: #FFFCF2;
    background-color: #000000;
    border-left-style: solid;
    border-right-style: solid;
    border-color: #000000;
    border-left-width: .5vw;
    border-right-width: .5vw;
    border-radius: 3vw;
  }

  .graph-section {
    border-top-style: solid;
    border-top-color: #000000;
    border-top-width: 1vw;
    background-color: #332E2E;
  }

  .graphs {
    height: 22vw;
    width: 85vw;
    background-color: #332E2E;
  }

  .description-section {
    display: flex;
    flex-direction: row;
    height: 52.6vw;
  }

  .description-left {
    width: 60%;
    border-style: solid;
    border-width: 3vw;
    border-color:#601010;
    border-right-width:1.5vw;
  }

  .description-right {
    width: 40%;
    border-style: solid;
    border-width: 3vw;
    border-color:#601010;
    border-left-width: 1.5vw;
  }
  
  .hidden {
    display: none;
  }